{{> "templates/dice/roll.html"}}
<div>
    action : {{actionType}}
</div>
{{#if (eq actionType "offensive")}}

    <div>
        <button type="button">
            <i class="fas fa-bahai"></i>{{localize "yggdrasill.chat.actions.damages"}}
        </button>
    </div>
{{/if}}