{{> "systems/yggdrasill/templates/partials/rollCheck.html"}}
{{#if (not (equals actor.data.dmgMod "0"))}}
    <div>
        <h2>{{localize "yggdrasill.chat.actions.damages"}} :  {{actor.data.dmgMod}}</h2>
    </div>
{{/if}}