<form class="{{cssClass}}" autocomplete="off">
    <div class="description">
        <table>
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>

                </td>
                <td>
                    
                </td>
            </tr>
        </table>
    </div>
</form>